################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CirclePointsA/AppPackages
/CirclePointsA/bin
/CirclePointsA/obj

